<!-- TODO: Replace hover with button toggle -->
<ul class="space-y-4">
  <li class="w-full pb-2 group border-b-2 border-b-white">
    <div class="flex flex-row justify-between align-middle text-lg w-full">
      <span class="font-funnel max-w-lg">How do I get involved?</span>
      <i class="fa-solid fa-angle-down place-self-center"></i>
    </div>
    <p class="max-w-md mt-2 hidden group-hover:block">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </li>
  <li class="w-full pb-2 group border-b-2 border-b-white">
    <div class="flex flex-row justify-between align-middle text-lg w-full">
      <span class="font-funnel">I've never made games before... </span>
      <i class="fa-solid fa-angle-down place-self-center"></i>
    </div>
    <p class="max-w-md mt-2 hidden group-hover:block">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </li>
  <li class="w-full pb-2 group border-b-2 border-b-white">
    <div class="flex flex-row justify-between align-middle text-lg w-full">
      <span class="font-funnel"
        >I've made a lot of games, how can VGDC help me?</span
      >
      <i class="fa-solid fa-angle-down place-self-center"></i>
    </div>
    <p class="max-w-md mt-2 hidden group-hover:block">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </li>
</ul>
